# Zinit
if [[ ! -f $HOME/.local/share/zinit/zinit.git/zinit.zsh ]]; then
    print -P "%F{33} %F{220}Installing %F{33}ZDHARMA-CONTINUUM%F{220} Initiative Plugin Manager (%F{33}zdharma-continuum/zinit%F{220})…%f"
    command mkdir -p "$HOME/.local/share/zinit" && command chmod g-rwX "$HOME/.local/share/zinit"
    command git clone https://github.com/zdharma-continuum/zinit "$HOME/.local/share/zinit/zinit.git" && \
        print -P "%F{33} %F{34}Installation successful.%f%b" || \
        print -P "%F{160} The clone has failed.%f%b"
fi

source "$HOME/.local/share/zinit/zinit.git/zinit.zsh"
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

# Zinit plugins
zinit light zsh-users/zsh-autosuggestions
zinit light zdharma-continuum/fast-syntax-highlighting

# Pure theme
zinit ice pick"async.zsh" src"pure.zsh"
zinit light sindresorhus/pure

# Options
setopt no_beep

# Aliases
alias emacs="emacs -nw"

{{ if .isWsl -}}
# WSL specific settings
function open() {
    if [[ $# -lt 1 ]]; then
        pwsh.exe -Command Invoke-Item .
        return
    fi
    pwsh.exe -Command Invoke-Item $1
}

alias clip="clip.exe"
{{- end }}

# マシン固有の設定（PATH等）
[[ -f ~/.zshrc.local ]] && source ~/.zshrc.local
